<h1>Listing slugs</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Link</th>
  </tr>

<% for slug in @slugs %>
  <tr>
    <td><%=h slug.text %></td>
    <td><%=h slug.link_id %></td>
    <td><%= link_to 'Show', slug %></td>
    <td><%= link_to 'Edit', edit_slug_path(slug) %></td>
    <td><%= link_to 'Destroy', slug, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New slug', new_slug_path %>
