!!! XML
!!!
%html{ html_attrs }
  %head

    %title Home &mdash; logi.cl

    =stylesheet_link_tag 'reset'
    =stylesheet_link_tag 'application'
    =javascript_include_tag 'jquery-1.3.1.min'
    =auth_token_javascript
    =javascript_include_tag 'application'

  %body{ body_attrs }

    #header_background
      #header
        %h1
          =link_to "logi.cl", root_url
        %ul#navigation
          %li= tab_to 'logi.cl', root_url
          %li= tab_to 'about', about_url
          %li= tab_to 'services', services_url
          %li#contact_tab
            = tab_to 'contact', messages_url
          %li#inline_contact_tab
            = link_to icon_tag('arrow_270', :title => 'Show quick contact form', :id => 'inline_contact_arrow_down') + icon_tag('arrow_090', :title => 'Hide quick contact form', :id => 'inline_contact_arrow_up', :style => 'display: none'), messages_url
    / #banner
    /   #tree

    =render :partial => 'shared/contact_form'

    #flash
      =render_flash

    #content
      #sidebar
        =render :partial => 'shared/sidebar'
      =yield

    = clear

    #footer_background
      #footer

        %p= lorem

        %ul#footer_navigation
          %li= link_to 'Home', '#'
          %li= link_to 'About', '#', :class => 'green'
          %li= link_to 'Services', '#', :class => 'gold'
          %li= link_to "Twitter", "http://twitter.com/jamesconroyfinn"